pkgbase = omaterm
	pkgdesc = Terminal-first developer workspace with semantic CLI automation
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/fachrihawari/omaterm
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	makedepends = pkgconf
	depends = gcc-libs
	depends = fontconfig
	depends = freetype2
	depends = libxkbcommon
	depends = libx11
	depends = libxcb
	depends = wayland
	depends = vulkan-icd-loader
	optdepends = otf-nerd-fonts: file-tree and git icon glyphs
	conflicts = omaterm-bin
	source = omaterm-0.2.0.tar.gz::https://github.com/fachrihawari/omaterm/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = SKIP

pkgname = omaterm
